# COPY to env.sh and include this 
# this in your bash environment in order
# in order to test

# in production environment the etc/sysconfig/handle-server-api.conf
# should be used (Note: no "export" keywords there!)

# bind to localhost:3000
export HDL_BIND=":3000"
# sql data source to database of handle server
export HDL_DSN="handle:handle@tcp(127.0.0.1:3307)/handle"
# basic authentication for this server
export HDL_AUTH_USERNAME="changethis"
export HDL_AUTH_PASSWORD="changethis"
# handle prefix to use
export HDL_PREFIX="1854"
