[Unit]
Description=handle-server-api
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/handle-server-api.conf
ExecStart=/opt/handle-server-api/handle-server-api
ExecReload=/bin/kill -HUP $MAINPID
User=biblio
Group=biblio
# TODO: only more recent versions of systemd support "file:" or "append:"
# file redirect in ExecStart has no effect
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
